/* Styles */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  margin: 0;
}

.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 20px;
  padding-inline: 340px;
}

.header-main,
.cta-head {
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 800;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0;
}

a, 
.hero-text,
.cta-body {
  text-decoration: none;
  font-size: 18px;
  color: #E5E7EB;
  font-weight: 100;
}

.hero-title {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 800;
  width: 500px;
}

.sign-up {
  background-color: #3882F6;
  border-radius: 8px;
  color: #F9FAF8;
  border: none;
  padding: 8px 36px;
  font-weight: 800;
}

.hero {
  display: flex;
  justify-content: space-between;
  padding-inline: 260px;
  margin: 100px;
}

img {
  width: 600px;
  height: 200px;
}

.bg-main {
   background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
  text-align: center;
  flex: 1;
  padding: 50px;
  justify-content: center;
}

.info-text {
  font-size: 36px;
  font-weight: 800;
  color: #1F2937;
  text-align: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #E5E7EB;
  margin: 20px;
}

.container {
  display: flex;
}

.quote {
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: end;
  padding-inline: 500px;
  gap: 8px;
  height: 400px;
  justify-content: center;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
  color: #1F2937
}

.quote-author {
  font-size: 16px;
  font-weight: 800;
  color: #1F2937;
  margin-inline: 40px;
}

.cta{
  display: flex;
  background-color: #3882F6;
  width: 1000px;
  align-items: center;
  justify-content: space-around;
  padding: 40px;
  border-radius: 8px;
  margin: 40px;
}

.cta-sign-up {
  border-radius: 8px;
  border: none;
  background-color: #3882F6;
  color: #F9FAF8;
  font-weight: 800;
  border: 2px solid #F9FAF8;
  padding: 8px 36px;
}
